{% extends "base.html" %}
{% block title %}Об авторе{% endblock %}
{% block link %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}
{% block header %}Об авторе{% endblock %}
{% block content %}
  {% load user_filters %}
    <div class="custom-center-block">
      <div class="card-user__header">
        <h2 class="card-user__title">Автор проекта: Igor Che</h2>
      </div>
      <ul class="card-user__items">
        <li class="card-user__item">Gmail: igorche402@gmail.com</li>
        <li class="card-user__item">Yandex: chernyshkovigor@yandex.ru</li>
        <li class="card-user__item">Telegram: @igorishe01</li>
        <li class="card-user__item">Informal instagram: @igorishe92</li>
      </ul>
    </div>
{% endblock %}