{% extends "base.html" %}
{% block title %}О технологии{% endblock %}
{% block link %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}
{% block header %}О технологии{% endblock %}
{% block content %}
  {% load user_filters %}
    <div class="custom-center-block">
      <div class="card-user__header">
        <h2 class="card-user__title">В проекте использовались</h2>
      </div>
      <ul class="card-user__items">
        <li class="card-user__item">IDE: PyCharm Community Edition</li>
        <li class="card-user__item">Frontend: HTML + CSS + JS</li>
        <li class="card-user__item">Backend: Python + Django</li>
        <li class="card-user__item">External libraries: sorl-thumbnail, django-excel-response</li>
      </ul>
    </div>
{% endblock %}