<div class="form__group">
    <p class="form__label">Теги</p>
    <div class="form__field-group">
        <div class="tags">
          {% for tag in form.tag.field.choices.queryset.all %}
            <div class="tags__item">
                <input
                        type="checkbox"
                        name="tag"
                        value="{{ tag.slug }}"
                        {% if tag in form.instance.tag.all %} checked {% endif %}
                        id="{{ tag.id }}"
                        class="tags__checkbox tags__checkbox_style_{{ tag.color }}">
                <label for="id_{{ tag.slug }}" class="tags__label">{{ tag.readable_name }}</label>
            </div>
          {% endfor %}
        </div>
        <span class="form__error">{{ form.tag.errors }}</span>
    </div>
</div>