{% extends "base.html" %}
{% block title %}Письмо сброса пароля отправлено{% endblock %}
{% block link %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}
{% block header %}Письмо сброса пароля отправлено успешно{% endblock %}
{% block content %}
  {% load user_filters %}
    <div class="custom-center-block">
            <p class="custom-text-block">Мы отправили вам инструкцию по установке нового пароля на указанный адрес электронной почты.<br>
                                         Если вы не получили письмо убедитесь, что ввели верный адрес, и проверьте папку спам.</p>
        <div class="custom-button-block">
            <button class="button button_style_blue"><a class="nav__link link" href="{% url 'index' %}">Перейти на главную</a></button>
        </div>
    </div>
{% endblock %}