{% extends "base.html" %}
{% block title %}
        {% if edit %}
            Редактирование рецепта
        {% else %}
            Создание рецепта
        {% endif %}
{% endblock %}
{% block link %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}
{% block header %}
        {% if edit %}
            Редактирование рецепта
        {% else %}
            Создание рецепта
        {% endif %}
{% endblock %}
{% block content %}
  {% load user_filters %}
    <div class="form-container">
        <form class="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            <div class="form__group">
                <div class="form__label">
                  {{ field.label_tag }}
                </div>
                <div class="form__field-group">
                    {{ field|addclass:"form__input" }}
                    <span class="form__error">{{ field.errors }}</span>
                </div>
            </div>
            {% endfor %}
            <div class="form__footer">
                {% if edit %}
                  <button class="button button_style_blue">Сохранить</button>
                  <a style="margin-left: 2.5em" href="{% url 'recipe_delete' recipe.id %}" class="form__ingredient-link">Удалить</a>
                {% else %}
                  <button class="button button_style_blue">Создать рецепт</button>
                {% endif %}
            </div>
        </form>
    </div>

<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/utils/debouncing.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'formRecipe.js' %}"></script>

{% endblock %}
